<div class="header-profile-container px-5 py-1">
  <div class="row">
    <div class="offset-md-1 col-md-10">
      <div class="profile-card">

        <div class="cover-band"></div>

        <div class="profile-body">
          <div class="avatar-wrapper">
            <img src="{{url + 'get-image-user/' + identity.image}}" alt="" *ngIf="identity.image">
            <img src="assets/user.png" *ngIf="!identity.image" />
          </div>

          <h5 class="fullname">{{ identity.name + ' ' + identity.surname }}</h5>
          <span class="nick">{{ identity.nick }}</span>

          <div class="stats-row">
            <div class="stat-unit">
              <span class="stat-number">1K</span>
              <span class="stat-label">Followers</span>
            </div>
            <div class="stat-unit">
              <span class="stat-number">10</span>
              <span class="stat-label">Following</span>
            </div>
            <div class="stat-unit">
              <span class="stat-number">10</span>
              <span class="stat-label">Posts</span>
            </div>
          </div>

          <div class="cta-row">
            <button class="btn-follow">Follow</button>
            <button class="btn-message">Message</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
