<div class="posts-people-container px-5">
  <div class="people-grid">

    <div class="person-card" *ngFor="let user of users">

      <!-- Avatar -->
      <a [routerLink]="['/profile', user._id]" class="avatar-link">
        <div class="avatar-ring">
          <img src="{{url + 'get-image-user/' + user.image}}" *ngIf="user.image" />
          <img src="assets/user.png" *ngIf="!user.image" />
        </div>
      </a>

      <!-- Follows you badge -->
      <span class="follows-badge" *ngIf="follow_me.indexOf(user._id) >= 0">
        Follows you
      </span>

      <!-- Name + nick -->
      <a [routerLink]="['/profile', user._id]" class="person-name">
        {{user.name + ' ' + user.surname}}
      </a>
      <span class="person-nick">{{user.nick}}</span>

      <!-- Follow button -->
      <ng-container *ngIf="user._id != identity._id">

        <!-- Not following -->
        <button
          class="btn-follow"
          *ngIf="follows.indexOf(user._id) < 0"
          (click)="followUser(user._id)"
        >
          Follow
        </button>

        <!-- Following / Unfollow on hover -->
        <button
          class="btn-following"
          [class.btn-unfollow]="user._id == followUserOver"
          *ngIf="follows.indexOf(user._id) >= 0"
          (mouseenter)="mouseEnter(user._id)"
          (mouseleave)="mouseLeave(user._id)"
          (click)="unfollowUser(user._id)"
        >
          {{ user._id == followUserOver ? 'Unfollow' : 'Following' }}
        </button>

      </ng-container>

    </div>

  </div>
</div>
