
<div class="container-fluid profile-page">
  <div class="row">
    <div class="col-md-1 profile-nav">
      <navbar-left></navbar-left>
    </div>

    <div class="col-md-7 profile-feed">
      <header-profile></header-profile>
      <posts-publish></posts-publish>
      <posts-profile></posts-profile>
    </div>

    <div class="col-md-4 profile-sidebar">
      <div class="sidebar-panel">
        <h6 class="sidebar-title">People you may know</h6>
        <p class="sidebar-empty">Suggestions will appear here</p>
      </div>
    </div>
  </div>
</div>
